body {
    background: url('/img/background.png');
}

.section-login {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

input{
    background-color: transparent;    
    border: none;
    border-bottom: 2px solid white;
}

.login-box {
    width: 500px;
    height: 500px;
    background: rgba(22, 22, 26, 0.87);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    padding: 20px;
}

.login-box h1 {
    text-align: center;
    color: #2CB67D;
    font-size: 50px;
    line-height: 112px
}

.input-box {
    display: flex;
    flex-direction: column;

    color: #2CB67D;
    font-weight: 400;
}

.button-box {
    display: flex;
    flex-direction: column;
}

